@media screen and (max-width: 1000px){
.header__top {
margin: 20px;
}
.nav {
        flex-direction: column;
    margin: 10px;
}
.products {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.products_grid {
    flex-wrap: wrap;
    align-content: center;
}
.products_list {
    flex-direction: column;
}
.about_grid {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.others_products {
    height: 2000px;
}
.main-finish {
    flex-wrap: wrap;
}
.contakt {
    width: 350px;

}
.areal {
    width: 350px;
    }
.head {
    margin-left: 30px;
}
.head_nnn {
    margin-left: 30px;
}
}